<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814774678230-av548i7b6lkoiiujes2dr0t0njsbes6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814774678230-av548i7b6lkoiiujes2dr0t0njsbes6i</string>
	<key>API_KEY</key>
	<string>AIzaSyBoy_j4Qi-UHI391uPM27qCc-6n4wtGyNk</string>
	<key>GCM_SENDER_ID</key>
	<string>814774678230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cat-app.app</string>
	<key>PROJECT_ID</key>
	<string>catapp-b10bd</string>
	<key>STORAGE_BUCKET</key>
	<string>catapp-b10bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814774678230:ios:3bda3b00e828ce078c8f77</string>
</dict>
</plist>